* {
    box-sizing: border-box;
}

#source {
    display: none;
}

:root {
    --button_color: #3fb6dc;
    --background_color: #3fb6dc;
}



body {
    /*
  background-image: url("media/innsan-background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
    font-family: "Futura PT", sans-serif;
    color: #39374d;
    font-weight: 500;
    letter-spacing: 0.1px;
    margin: 0 0 25px;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

#Adresse {
    width: 81%!important;
}
#agb {
    font-size: 1.2em!important;;
}
#regForm {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /*background-color: rgba(0, 0, 0, 0.1);*/
    background-color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    min-width: 400px;
    align-items: center;
    padding: 20px;

}

#suche{
    background-color:white;
}
@media only screen and (max-width: 667px) {
    #regForm {
        margin-top: 100px;
        background-color: rgba(0, 0, 0, 0.1);
        min-width: 400px;
        align-items: center;
        padding: 20px;
    }

}


img.input-btn {
    margin-top: 15px;
    padding: 7px;
    width: 150px;
    height: 195px;
    font-size: 17px;
    font-family: "Futura PT",sans-serif;
    color: #39374d;
    font-weight: 500;
    letter-spacing: .1px;
    text-rendering: optimizeLegibility;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
}


@media only screen and (max-width: 667px) {
    img.input-btn {
        margin-top: 15px;
        padding: 3px;
        width: 125px;
        height: 170px;
        font-size: 17px;
        font-family: "Futura PT",sans-serif;
        color: #39374d;
        font-weight: 500;
        letter-spacing: .1px;
        text-rendering: optimizeLegibility;
        display: inline-block;
        background-color: white;
        border-radius: 10px;
    }

}

img.input-btn-selected {
    padding: 5px;
    width: 160px;
    height: 210px;
    font-size: 17px;
    display: inline-block;
    background-color: #a7eaff;
    border-radius: 20px;
}

@media only screen and (max-width: 667px) {
    img.input-btn-selected {
        padding: 5px;
        width: 140px;
        height: 180px;
        font-size: 17px;
        display: inline-block;
        background-color: #a7eaff;
        border-radius: 10px;
    }

}



h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 60%;
    margin-top: 10px;
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
}

#contact .pure-group {
    width: 100%;
    max-width: 600px;
}

@media only screen and (max-width: 600px) {
    #contact .pure-group {
        margin-top: 20px;
        padding: 0;
        width: 120%;
        margin-left: -50px;
    }
}


label[for=PLZ]::after {
    /*content: "\A";*/
}

#PLZ {
    width: 20%!important;
}
#Ort{
    width: 60%!important;
}
/*
#Tel {
    margin-left: -5px;
}
*/
.pure-group {
    margin-top: -20px;

}


.pure-group .input-btn:hover {
    cursor: pointer;
}



.tab-title {
    color: #39374d;
    font-size: 1.4em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;

    background-color: white;
    font-family: "Open Sans", sans-serif;
}

fieldset.pure-group {
    display: inline-block;
    border: none;

}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}



button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

input:focus, select:focus {
    outline: none;
}


.progress {
    position: relative;
    left: 50%;
    display: block;
    margin-left: -150px;
    text-align: center;
    align-self: center;
    width: 300px;
    margin-top: 30px;
    background-color: transparent !important;
    top: 0%;
}

progress::-webkit-progress-bar {

    background-color: transparent !important;
}

progress[value] {
    align-content: center;
    align-self: center;
    appearance: auto;

    background-color: white!important;
    border-radius: 11px;
    border: 2px solid #bbb;
    height: 30px;
}

progress::-webkit-progress-bar {
    /* chrome */
    border-radius: 9px;
    /*
    background-color: var(--background_color);
    background-color: #3fb6dc;*/
    background-color: #3fb6dc;

}

progress::-webkit-progress-value {
    /* chrome */
    border-radius: 9px;
    /*
    background-color: var(--button_color);
    background-color: #3fb6dc;*/
    background-color: #3fb6dc;
}

progress::-moz-progress-bar {
    /* firefox */
    border-radius: 9px;
    /*
    background-color: var(--button_color);
    background-color: #3fb6dc;*/
    background-color: #3fb6dc;
}

.loader {
    border: 16px solid var(--background_color);
    border-top: 16px solid var(--button_color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

button {
    display: inline-block;
    width: 150px;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    background-color: #3fb6dc;
    color: #fff;
    border: 0 solid white;
}

#submitBtn{
    background-color: #3fdc59;
    width: 280px;
    font-weight: bold;
    font-size: large;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


label{
    font-size: 1.2em;
    font-weight: 400;
    color: #ccc;
}

input[type="checkbox"]{
    width: 16px;
}

.agb {
    font-size: 10px;
    margin: 10px;
    width: 60%;
    display: inline-block;
    text-align: left;
}

input[type="radio"]{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 16px;
    width: 16px;
    border: 1px solid gray;
}

input[type="radio"]:checked{

    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: var(--button_color);
    height: 16px;
    width: 16px;
    border: 1px solid gray;
    /*background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);*/
    box-shadow: inset 0 0 0 3px white;
}

/*to remove the arrows at plz number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
